# 메일 인증
spring:
  mail:
    host: smtp.gmail.com        # SMTP 서버 호스트
    username: 1479242           # SMTP 서버 로그인 아이디
    password: sadkfnoadnfkdanf  # SMTP 서버 로그인 비밀번호
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  data:
    redis:
      host: localhost
      port: 6379


  datasource:
    url: jdbc:h2:tcp://localhost/~/test  # JDBC URL이 매번 랜덤하게 바뀌지 않도록 고정 jdbc:h2:~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging.level:
  org.hibernate.SQL: debug
#jwt:
#  secret: c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwK