/* global.css */

/* Reset CSS */

body, * {
  font-family: "IBM Plex Sans KR", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* 색상 변수 설정 */
:root {
  --bg-color: #fff;
  --text-color: #000;
  /* 메인 색상 */
  --top-color: #305673;
  --mid-color: #708A9E;
  --bot-color: #ACB9CC;
}

.darkMode {
  --bg-color: #292d3e;
  --text-color: #fff;
  color: #fff;
}

h1,
h2,
h3,
p,
a {
  color: var(--text-color);
}

/* 전체적인 스타일 커스텀 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}