/* global.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
}

/* 색상 변수 설정 */
:root {
  --bg-color: #fff;
  --text-color: #000;
}

.darkMode {
  --bg-color: #305673;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, p, a {
  color: var(--text-color);
}

/* 전체적인 스타일 커스텀 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  color: black;
}

button{
  cursor: pointer;
}