.ag-root-wrapper {
    border: none;
}

.ag-header {
    text-align: center;
    /* background-color: transparent; */
}

.ag-cell{
    text-align: center;
}

.ag-cell.gray {
    color: gray;
}

.ag-cell.blue {
    color: blue;
}

.ag-cell.green {
    color: green;
}