.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 400; */
}

h2 {
  margin-top: 0;
  font-size: 18px;
}

.input-title {
  width: 505px;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border: none;
}
.input-content {
  width: 505px;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 18px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  border: none;
}

.input-content {
  min-height: 550px;
  width: 505px;
  border: none;
  resize: vertical;
}

.modal-content {
  position: relative; /* 자식 요소 위치 조정을 위한 기준 설정 */
  background-color: white;
  padding: 20px;
  width: 530px;
  height: 650px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

.modal-actions {
  position: absolute; /* 부모 기준 하단으로 고정 */
  bottom: 20px; /* 하단에서 20px 간격 */
  right: 20px; /* 오른쪽에서 20px 간격 */
  display: flex;
  gap: 10px;
}

.cancel-button,
.save-button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
}

.save-button {
  background-color: #4caf50;
  color: white;
}
