.container {
    width: 100%;
    background-color: transparent;
    border: 2px solid #acb9cc5e;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btnContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    margin-top: 1rem;
}

.profileBtn {
    flex: 1;
    font-size: 14px;
    font-weight: 900;
    color: var(--mid-color);
    transition: background-color 0.3s;
}

.profileBtn:hover {
    background-color: #acb9cc;
}